{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cluster Web Viewer</title>

  <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body> 
    <nav class="bg-gray-800 p-4 text-white">
        <a href="/" class="mx-2" hx-get="/" hx-target="#content" hx-swap="innerHTML" hx-push-url="/">Home</a>
        <a href="/containers" class="mx-2" hx-get="/containers" hx-target="#content" hx-swap="innerHTML" hx-push-url="/containers">Containers</a>
        <a href="/nodes" class="mx-2" hx-get="/nodes" hx-target="#content" hx-swap="innerHTML" hx-push-url="/nodes">Nodes</a>
    </nav>
   

    <div id="content" hx-trigger="load" hx-swap="innerHTML">
    </div>

<script>
    // For nav
document.addEventListener('DOMContentLoaded', function() {
    function loadContent() {
        const contentDiv = document.getElementById('content');
        if (contentDiv) {
            htmx.ajax('GET', window.location.pathname, contentDiv);
        }
    }

    // Attach the event listener for handling browser navigation events
    window.addEventListener('popstate', function(event) {
        loadContent();
    });

    // Load content initially 
    const contentDiv = document.getElementById('content');
    if (!contentDiv.getAttribute('hx-get')) {
        contentDiv.setAttribute('hx-get', window.location.pathname);
        loadContent();
    }
});
</script>

</body>
</html>
{{end}}

