{{ define "containers" }}
<div>
    <ul>
    {{ range . }}
        {{ template "container" .}}
    {{ end }}
    </ul>
</div>
{{ end }}

{{ define "container" }}
    <li class="flex flex-row items-center p-6 mx-auto my-4 bg-white shadow-md hover:shadow-lg transition-shadow duration-300 rounded-lg max-w-4xl">
        <!-- Container Details -->
        <div class="flex-grow">
            <div class="flex flex-col sm:flex-row justify-between">
                <div class="flex flex-col justify-between flex-grow">
                    <h3 class="text-xl font-bold text-gray-800">{{ .ID }}</h3>
                    <h4 class="text-lg text-gray-600">{{ .Image }}</h4>
                </div>
                <div class="flex flex-col space-y-1 text-right">
                    <div class="flex justify-between">
                        <span class="text-sm mx-5 text-gray-600 font-medium">Node:</span>
                        <span class="text-sm text-gray-800">{{ .NodeID }}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm  mx-5  text-gray-600 font-medium">Memory:</span>
                        <span class="text-sm text-gray-800">{{ .MemoryLimit }} GB</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm  mx-5  text-gray-600 font-medium">CPU:</span>
                        <span class="text-sm text-gray-800">{{ .CpuLimit }} Cores</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-sm  mx-5  text-gray-600 font-medium">Storage:</span>
                        <span class="text-sm text-gray-800">{{ .StorageLimit }} GB</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="ml-4 flex flex-col space-y-2">
            <a href="/nodes/{{ .NodeID }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-200 shadow">
                See Node
            </a>
            <a href="/containers/{{ .ID }}" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition-colors duration-200 shadow">
                See More
            </a>
        </div>
    </li>
{{ end }}

